* {
  font-family: "Open Sans", sans-serif;
}
img {
  /* max-width: 100%; */
  /* height: 500px; */
}
nav {
  display: flex;
  justify-content: space-between;
  /* margin: 15px; */
  padding: 10px;
  margin: auto;
}
header {
  /* background-color: rgb(120, 255, 255); */
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
  align-items: center;
}
ul li a {
  text-decoration: none;
}
.logo {
  font-size: 30px;
  font-weight: 800;
}
.logo-r {
  color: #fd6e0a;
}
.common-btn {
  background-color: #fd6e0a;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.outline-btn {
  background-color: #ffffff;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 140, 0);
  border: none;
  border-radius: 10px;
  border: 1px solid rgb(255, 140, 0);
  cursor: pointer;
}

/* Hero section  */
.hero-parent-root {
  background-color: #fff8f3;
}

.hero-parent {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
}
.hero-left h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
.hero-left-p-1 {
  font-size: 28px;
  font-weight: 600;
}

.hero-left-btn-parent {
  margin-top: 10px;
}
.about-parent {
  background-color: #fff8f3;
  margin: 70px auto;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.about-parent p {
  margin: 10px 0;
}
.about-box-parent {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.about-box-parent .box {
  background-color: #fff8f3;
}

/* 
What I do section CSS */
.what-i-do-parent {
  text-align: center;
  margin: 60px auto;
}

.what-i-do-card-container {
  margin-top: 20px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.what-i-do-card-container .what-i-do-card {
  border: 2px solid rgb(40, 2, 76);
  padding: 8px;
  border-radius: 10px;
  text-align: left;
}

.what-i-do-card-container .what-i-do-card p {
  color: #7c7c7c;
  font-size: 15px;
}
/* 
A summary of My Resume section :start */
.card-one-parent {
  display: flex;
  gap: 80px;
}

.card-one-childern-1 {
  border-bottom: 1px solid rgb(78, 72, 72);
}

.card-one-childern-2 {
  border-bottom: 1px solid rgb(78, 72, 72);
}

.card-two-parent {
  display: flex;
  margin-top: 25px;
  gap: 80px;
}

.my-resume {
  background-color: #fbf1f1;
  margin-top: 60px;
  padding: 40px;
  border-radius: 10px;
}
.resume-button {
  text-align: center;
}

div p {
  color: rgb(81, 80, 80);
}

/* <!-- My Amazing Work section start --> */

.my-amazing-parent {
  padding: 30px 300px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
  gap: 10px;
  grid-auto-rows: 250px;
  grid-template-areas:
    "one two three"
    "four two six"
    "four five six";
}
.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box-1 {
  grid-area: one;
}

.box-2 {
  grid-area: two;
}

.box-3 {
  grid-area: three;
}

.box-4 {
  grid-area: four;
}

.box-5 {
  grid-area: five;
}

.box-6 {
  grid-area: six;
}

/* footer */
footer {
  text-align: center;
  margin-top: 70px !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 15px;
  background-color: #fff8f3;
  padding: 20px;
  border-radius: 10px;
}

footer form {
  padding: 20px;
}

.footer-left p {
  margin: 10px 0;
}

footer form input,
footer form textarea {
  outline: none;
  border: none;
  background-color: white;
  padding: 8px 15px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
